<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ .Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}</title>
	<link rel="stylesheet" href="/css/style.css">

{{ if false }}
	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="200x200" href="/img/logo-white-on-red.png">
 <link rel="icon" sizes="200x200" href="/img/logo-white-on-red.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="theme-color" content="#ffffff">
{{ end }}
</head>
